<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1>Forum account</h1>

    <h3>Name:</h3>
    <p><%= name %></p>

    <h3>Nickname:</h3>
    <p><%= nickname %></p>

    <h3>Country:</h3>
    <p><%= country %></p>
</body>
</html>