<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>json Response</title>
</head>
<body>
    <h1>Anime site:</h1>

    <h2>Anime</h2>
    <p><%= anime %></p>

    <h2>Genre:</h2>
    <p><%= genre %></p>

    <h2>Released:</h2>
    <p><%= release %></p>
</body>
</html>